<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p>This is the current Air Quality Index (AQI) of Zipcode: <%= @zipquery %></p>
  <p><%= @api_description %></p>
  <p>Hit reload to update the readings.</p>
</div>

</br>